<h1>Reset Your Password</h1>

<%= form_for(@user, url: password_reset_path(@user.id)) do |f| %>
  <%= render 'shared/error_messages', user: @user %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Reset my password" %>

<% end %>