<li>
  <%= comment.content %>
  <br>
  <% user = comment.user %>
  by
  <%= link_to user.name, user %>
  <%= time_ago_in_words(comment.created_at) %> ago.
  <br>
    <%= pluralize(comment.upvote_count, "upvote") %>
    <%= pluralize(comment.downvote_count, "downvote") %>
    <br>
    <%= render partial: 'vote/button',
               locals: { votable: comment, value: "+1", dir: post_path(@post.id) } %>
    <%= render partial: 'vote/button',
               locals: { votable: comment, value: "-1", dir: post_path(@post.id) } %>
  <br>
  <%= render partial: 'shared/shared_form',
             locals: { commentable: comment, type: "Reply", col: 30, row: 5 } %>
  <br>
  <hr>
  <% if comment.comments.any? %>
    <ul style="list-style-type: none">
      <%= render partial: 'comments/comment', collection: comment.comments %>
    </ul>
  <% end %>
</li>

