<main id="content">
  <%= will_paginate @posts %>
  <ol id="posts-list">
    <% @posts.each do |post| %>
      <li>
          <%= link_to post.title, post.url %>
          <br>
          <br>
          Posted by <%= link_to post.user.name, post.user %>
          <%= time_ago_in_words(post.created_at) %> ago.
          <br>
          <%= link_to pluralize(post.comments.count, 'comment'), post_path(post.id) %>
          <br>
          <%= pluralize(post.upvote_count, "upvote") %>
          <%= pluralize(post.downvote_count, "downvote") %>
          <br>
          <% if logged_in? %>
            <%= render partial: 'vote/button',
                       locals: { votable: post, value: "+1", dir: root_url } %>
            <%= render partial: 'vote/button',
                       locals: { votable: post, value: "-1", dir: root_url } %>
          <% end %>
      </li>
      <hr>
    <% end %>
  </ol>
  <%= will_paginate @posts %>
</main>
