<main id="content">
  <%= will_paginate @posts %>
  <ol id="posts-list">
    <% @posts.each do |post| %>
      <li>
          <%= link_to post.title, post.url %>
          <br>
          <br>
          Posted by <%= link_to post.user.name, post.user %>
          <%= time_ago_in_words(post.created_at) %> ago.
          <br>
          <%= link_to pluralize(post.comments.count, 'comment'), post_path(post.id) %>
          <br>
          <%= pluralize(post.upvote_count, "upvotes") %>
          <%= pluralize(post.downvote_count, "downvotes") %>
          <br>
          <% if logged_in? %>
            <%= button_to '+1', votes_path,
                method: :post, remote: true,
                params: { value: 1,
                          user_id: current_user.id,
                          votable_type: "Post",
                          votable_id: post.id,
                          redir_path: "root_url"
                        } %>
          <% end %>
      </li>
      <hr>
    <% end %>
  </ol>
  <%= will_paginate @posts %>
</main>
