<h1>Submit a link</h1>
<%= simple_form_for @post do |f| %>
  <%= render 'shared/resource_errors', resource: @post %>
  <%= f.input :title %>
  <%= f.input :url %>
  <%= f.button :submit %>
<% end %>

