<main id="content">
  <br>
 <%= link_to @post.title, @post.url %>
  <br>
    Posted by <%= link_to @post.user.name, @post.user %>
    <%= time_ago_in_words(@post.created_at) %> ago.
  <br>
  <br>
  <%= render partial: "shared/shared_form", locals: { record: @post, type: "Comment", col: 60, row: 10 } %>
  <h3> Comments </h3>
  <% if @comments.any? %>
    <ul style="list-style-type: none">
      <%= render partial: 'comments/comment', collection: @comments %>
    </ul>
  <% end %>
</main>
