<header class="navbar"> 
  <ul class="links">
    <li><%= link_to "Haxxor-News", "#" %></li> 
    <li><%= link_to "Home", "#" %></li>  
    <li><%= link_to "Submit", "#" %></li> 
  </ul> 

  <ul class="auth">
    <li><%= link_to "Signup", "#" %></li> 
    <li><%= link_to "Login", "#" %></li>  
  </ul> 
</header> 
