<header class="navbar"> 
  <ul class="links">
    <li><%= link_to "Haxxor-News", "#TODO" %></li> 
    <li><%= link_to "Home", "#TODO" %></li>  
    <li><%= link_to "Submit", "#TODO" %></li> 
  </ul> 

  <ul class="auth">
    <li><%= link_to "Signup", "#TODO" %></li> 
    <li><%= link_to "Login", "#TODO" %></li>  
  </ul> 
</header> 
